
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Name ruta</h2>
                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                <div class="page-breadcrumb">
                   <app-breadcrumbs></app-breadcrumbs>
                </div>
            </div>
        </div>
    </div>


    <div class="ecommerce-widget">

      <router-outlet> </router-outlet>


  </div>
  </div>
</div>

<app-spinner></app-spinner>

</div>
